:root {
  --purple: rgb(34, 80, 89);
  --yellow: rgb(188, 191, 196);
  --pink: rgb(17, 227, 222);
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: left;
    text-align: left;
    background-color: black;
    /*background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 130%), var(--purple);
	*/

}

.page-background {
    width: 100%;
    height: 100%;
}

.container {
    text-align: left;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.button, .menu-btn, .score, .buttons, .buttonsActive {
    font-family: 'Spicy Rice', serif;
    font-size: 20px;
    background-color: var(--yellow);
    border-color: var(--pink);
    border-radius: 10px;
    border-width: 5px;
    width: auto;
    padding: 5px 10px;
    margin-bottom: 20px;
    color: var(--purple);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.buttons, .buttonsActive {
	font-size: 20px;
	width: 80px;
}

.btn-line {
	display: flex;
	flex-direction: space-between;
	text-align: center;
	justify-content: center;
	gap: 30px;
}

.btn-letters {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
}

.menu-btn {
	display: flex;
	flex-direction: row;
	width: auto;
	padding: 0px 8px;
	gap: 3px;
}

.menu-btn:hover, .buttons:hover {
    border-color: rgb(129, 61, 156);
    transform: scale(1.07);	
}

.menu-logo {
	width: 15px;
	height: 15px;
	margin-top: 8px;
	margin-rigth: 5px;	
}

.menu-btn h5 {
	margin-top: 8px;
}

.score {
	display: flex;
	flex-direction: row;
	width: auto;
	text-align: center;
	padding: 3px 8px;
	gap: 10px;
	border: 5px solid var(--pink);
	margin-right: 296px;
}

.score h5, .score h6 {	
	margin-top: 3px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 15px;
}

.button:hover {
    border-color: #4EE3FB;
    transform: scale(1.07);
}

.buttonsActive {
	border-color: #4EE3FB;
}

.btns {
    display: inline-block;
    margin-top: 30px;
    justify-items: center;
    padding-top: 30px;
}

div .tittle, h1 {
    border-color: var(--yellow);
    -webkit-text-stroke: 2px var(--yellow);
    text-stroke: 1px var(--yellow);
    font-family: 'Spicy Rice', serif; 
    color: var(--purple);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    padding: 0px;
}

.subtittle {
    background-color: var(--purple);
    padding: 15px; 
	display: inline-block;
}


	/** HEART ANIMATION **/

.lives img {

	width: 50px;	
	padding-bottom: 20px;
	padding-left: 10px;
	transition: transform 1s ease;
	transform-style: preserve-3d;
	transition: transform 1s ease, filter 0.5s ease; 
}

div .lives {
	padding-right: 100px;	
	margin-top: 600px;
	display: flex;
	flex-direction: row;
}

div .lives img:hover {
	animation: rotate 3s linear infinite;
	box-shadow: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.div-at-end {
	right: 0;
}

.div-at-start {
	left: 0;
}

.header-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: -650px;
	position: relative;
	top: 180px;
}

.tittle {
	display: inline-block;
	justify-content: space-between;
	margin-top: -650px;
	margin-left: 700px;
	text-align: right;
}

/* COLOR BUTTONS */

.btn-red {
	background-image: url("/images/BtnRojoOff.png");
	position: fixed;
    width: 350px;
	top: 95px;
	left: 38px;
	cursor: pointer;
	clip: rect(403px, 130px, 437px, 97px);	
}


.btn-green {
	background-image: url("/images/BtnVerdeOff.png");
	position: fixed;
	width: 350px;
	top: 95px;
	left: -5px;
	cursor: pointer;
	clip: rect(403px, 212px, 437px, 178px);
	
}


.btn-blue {
	background-image: url("/images/BtnAzulOff.png");
	position: fixed;
	width: 350px;
	top: 95px;
	left: -3px;
	cursor: pointer;
	clip: rect(403px, 252px, 437px, 217px);	
	/* rect(top, right, bottom, left) */
}


.btn-yellow {
	background-image: url("/images/BtnAmarilloOff.png");
	position: fixed;
	width: 350px;
	top: 95px;
	left: 115px;
	clip: rect(403px, 172px, 437px, 137px);	
	/* rect(top, right, bottom, left) */
}



.btns {
	display: inline-block;
	position: fixed;
	flex-direction: row;
	gap: 0px;
	margin: 0px;
	padding: 0px;
	justify-content: center;
	z-index: 10;
}

.btns .button-image-red {
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    background: transparent;
    width: 30px;
    height: 30px;
	top: 500px;
	left: 135px;
	z-index: 11;
	background-image: url("/images/BtnRojoOn.png") !important;
}

.btns .button-image-red:hover img{
	filter: brightness(1.2);
}

.btns .button-image-red:hover {
	box-shadow: 0 0 20px 2px rgba(173, 10, 10, 0.8);
}

.btns .button-image-green {
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    background: transparent;
    width: 30px;
    height: 30px;
	top: 500px;
	left: 175px;
	z-index: 11;
	background-image: url("/images/BtnVerdeOn.png") !important;
		
}

.btns .button-image-green:hover img {
	filter: brightness(1.2);
}

.btns .button-image-green:hover {
	box-shadow: 0 0 20px 2px rgba(173, 255, 47, 0.8);
}

.btns .button-image-blue {
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    background-color: transparent;
    width: 30px;
    height: 30px;
	top: 500px;
	left: 215px;
	z-index: 11;	
}

.btns .button-image-blue:hover img {
	filter: brightness(1.2);
}

.btns .button-image-blue:hover {
	box-shadow: 0 0 20px 2px rgba(20, 49, 255, 0.8);
}

.btns .button-image-yellow {
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    width: 30px;
    height: 30px;
	top: 500px;
	left: 254px;
	z-index: 11;
	background-color: transparent;
	background-image: url("/images/BtnVerdeOn.png") !important;
		
}

.btns .button-image-yellow:hover img{
	filter: brightness(1.2);
	
}

.btns .button-image-yellow:hover {
	box-shadow: 0 0 20px 1px rgba(255, 255, 0, 0.8);
}

/* LEVEL MOVES */

/* LIGTH AREA
TOP-LEFT POINT 
	top: 155px;
	left: 18px;
	
BOTTOM-LEFT POINT
	top: 190px;
	left: 18px;	
	
BOTTOM-RIGHT POINT
	top: 190px;
	left: 160px;	
	
TOP-RIGHT POINT 
	top: 155px;
	left: 160px;
*/	


.red-ligth {
	background-image: url("/images/LuzRoja.png");
	position: fixed;
    width: 350px;
	display: none;
	z-index: 10;
}

.green-ligth {
	background-image: url("/images/LuzVerde.png");
	position: fixed;
    width: 350px;
	display: none;
	z-index: 10;
}

.blue-ligth {
	background-image: url("/images/LuzAzul.png");
	position: fixed;
    width: 350px;
	display: none;
	z-index: 10;
}

.yellow-ligth {
	background-image: url("/images/LuzAmarillo.png");
	position: fixed;
    width: 350px;
	display: none;
	z-index: 10;
}

.level-moves {
	z-index: 10;
}

.spaceship-img {
	z-index: 3;
	width: 400px;
	margin: 0px;
	padding: 0px;
}

.container {
	background-image: url("/images/NaveEspacial.png");
	z-index: 4;
	width: 400px;
	display: block;
}


@keyframes rotateDashed {
  0% {
    background-position: 0 0; 
  }
  100% {
    background-position: 20px 0; 
  }
}


.dashed-border {
  border-style: dashed;
  border-width: 2px;
  border-color: #000;
  width: 200px; 
  height: 200px; 
  animation: rotateDashed infinite linear infinite; 
}

.btn-div {
	display: block;
	flex-direction:column;
	margin-top: 80px; 
	text-align: center;
	justify-content: center;
	justify-items: center;
	left: 50%; 
    word-spacing: 25px;    
    transform: translateX(-50%);
    margin-left: 50%;
}


.menu-btn h5 {
	font-size: 15px;
}

.visible {
	display: flex;
	position: fixed;
    width: 350px;
	z-index: 10;
}

.menu-btn {
	display: flex;
	flex-direction: column;
	width: auto;
}

/* LOWER THAN 800 PX DISPLAYS */
@media only screen and (max-width: 800px) {
	div .lives {
		padding-right: 20px;
		padding-left: 0px;
		margin: 0px;
	}
	
	.header-bar {
	  display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px;
      padding: 0px;
      gap: 290px;
	}  

}





