<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Level</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@600;700;800&family=Spicy+Rice&display=swap" rel="stylesheet">
	<link rel="icon" href="/images/ornitorrincoVF.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/level.css">


</head>
<body>
	<div class="page-background">
		<div class="container" th:object="${game}">
			<div class="header-bar">
				<button class="menu-btn" onclick="menu()">
				    <img class="menu-logo" src="/images/menu-logo.png" alt="menu logo" />
				    <h5 th:text="#{MENU}"></h5>
				</button>
				<div class="score">
					<h5>Score: <h6 th:text="${game.score}"></h6></h5>
				</div>	
			</div>
			<div class="tittle">
				<h1 th:text="#{TRIVIA}"></h1>
				<th:block th:with="persistentLifes=${game.lifes}"></th:block>
				<div class="lives">
				    <img th:each="life, iterStat : ${#numbers.sequence(1, (persistentLifes == null || persistentLifes == -1) ? game.lifes : persistentLifes)}"
				         th:src="@{/images/heart.png}" 
				         th:alt="Heart" 
				         th:title="${'Life ' + (iterStat.index + 1)}"
				         th:if="${game.lifes > 0 && iterStat.index < (game.lifes > 0 ? game.lifes : persistentLifes)}" />

				</div>
			</div>
			
			<div class="spaceship">
				<img class="spaceship-img" src="/images/NaveEspacial.png" alt="space-ship" />
			</div>
			
			<div class="btns">
				<button class="button-image-red">
					<img class="btn-red" src="/images/BtnRojoOff.png" alt="red button" onclick="addMove('red')" />
				</button>
				<button class="button-image-green">
					<img class="btn-green" src="/images/BtnVerdeOff.png" alt="green button" onclick="addMove('green')" />
				</button>
				<button class="button-image-blue">
					<img class="btn-blue" src="/images/BtnAzulOff.png" alt="blue button" onclick="addMove('blue')" />
				</button>
				<button class="button-image-yellow">
					<img class="btn-yellow" src="/images/BtnAmarilloOff.png" alt="yellow button" onclick="addMove('yellow')" />			
				</button>
			</div>
			
			<div class="lvl-moves">
				<img id="redligth" class="red-ligth" src="/images/LuzRoja.png" alt="red ligth" />
				<img id="greenligth" class="green-ligth" src="/images/LuzVerde.png" alt="green ligth" />
				<img id="blueligth" class="blue-ligth" src="/images/LuzAzul.png" alt="blue ligth" />
				<img id="yellowligth" class="yellow-ligth" src="/images/LuzAmarilla.png" alt="yellow ligth" />			
			</div>

		    <audio autoplay loop th:volume="0.5">
		        <source th:src="@{/music/musik.mp3}" type="audio/mp3">
		    </audio>		
		</div>
		
	</div>
		
<script th:inline="javascript">
	//fetchLetters();
	
	var userInput = [];
	var ids = [];
	var levelMoves = /*[[${game.levelMoves}]]*/;

	const LENGTH = levelMoves.length;
	
	document.addEventListener("DOMContentLoaded", function() {
	    	
	    displayLevelMoves();
	    
	    time = setInterval(checkAnswer, 1000);

	});
	
	async function displayLevelMoves() {
		console.log(/*[[${game.level}]]*/, "level moves");
		for (let i = 0; i < LENGTH; i++) {
		        let lightElement;
		        let top = randomPosTop();
		        
		        let left = randomPosLeft();
				console.log(levelMoves[i], "move");
				console.log(top, "top");
				console.log(left, "left");
				
		        if (levelMoves[i] === "red") {
		            lightElement = document.getElementById("redligth");
		        } else if (levelMoves[i] === "green") {
		            lightElement = document.getElementById("greenligth");
		        } else if (levelMoves[i] === "blue") {
		            lightElement = document.getElementById("blueligth");
		        } else if (levelMoves[i] === "yellow") {
		            lightElement = document.getElementById("yellowligth");
		        }
		
		        lightElement.style.setProperty('top', `${top}px`);
				lightElement.style.setProperty('left', `${left}px`);
		       
		
				lightElement.style.display = "flex";
				
		        await sleep(1500);
		
		        lightElement.style.display = "none";
		        
		        await sleep(1000);
		}
	}
	
	function sleep(ms) {
	    return new Promise(resolve => setTimeout(resolve, ms));
	}
	
	function randomPosTop() {
		let top = Math.floor(Math.random() * (190 - 155) + 155);
		return top;
	}

	function randomPosLeft() {
		let left = Math.floor(Math.random() * (160 - 18) + 18);
		return left;
	}
	
	function checkAnswer() {
		if ( levelMoves.length === userInput.length ) {
				
			var level = /*[[${game.level}]]*/;
	        var url = '/checkAnswer/' + userInput;	    
		    console.log(userInput, "userInput");
		    window.location.href = url;
		}    
	};	
	
	function addMove(color) {
		userInput.push(color);
	}
	
	function menu() {
		window.location.href = "/menu";
	}
	

	
	// Llamar a fetchLetters al cargar la página
	//window.onload = fetchLetters;
	
	// Llamar a fetchLetters cada segundo
	//time = setInterval(fetchLetters, 3000);
	
	
</script>
</body>
</html>